{% trans_default_domain 'FOSUserBundle' %}
<div class="main-content change-profile">
    <h2>Modification de votre profil</h2>

    {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}

    {{ form_errors(form) }}
    <div class="well well-block-info">
        {{ include('@AdminUserManager/Form/userType.html.twig') }}
    </div>

    <div class="well well-block-info">
        {{ include("@FrontApp/Form/contactType.html.twig") }}
    </div>



    <span class="control-label padding-left-15">
        Afin de confirmer les modifications, veuillez entrer votre mot de passe actuel:
    </span>

    <div class="form-group">
        {{ form_label(form.current_password, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
        <div class="col-sm-8">
            {{ form_widget(form.current_password, {"attr": {'class' : "form-control", 'placeholder' : 'form.current_password' }}) }}
        </div>
        {{ form_errors(form.current_password) }}
    </div>

    {{ form_widget(form) }}

    <input type="submit" class="btn btn-default pull-right" value="{{ 'profile.edit.submit'|trans }}"/>

    {{ form_end(form) }}
</div>