{% trans_default_domain 'FOSUserBundle' %}

<div class="main-content user_user_show" style="overflow: hidden">
    <h2>Votre profil</h2>
    <div class="well" style="overflow: hidden">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <h4><u>Informations personnelles</u></h4>
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.firstname'|trans }} : {{ user.firstname }}</p>
            <p>{{ 'profile.show.surname'|trans }}: {{ user.surname }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
        </div>
        <div class="pull-right col-md-4 col-sm-12 col-xs-12">
            <p>Votre photo de profil:</p>
            <img src="{{ asset(user.image.url) }}" alt="Mon image" class="img img-profile-picture" style="height: 100px;">
        </div>
    </div>
    <div class="well" style="overflow: hidden">
        <div class="col-md-12">
        <h4><u>Informations professionnelles</u></h4>
        <p>Votre poste: Web developer</p>
        <p>Votre agence: Bondues</p>
        </div>
    </div>
</div>
