<div class="well well-block-info">
    <div class="col-md-6">
        <h4 class="margin-left-15">Informations générales</h4>
        <div class="form-group">
            {{ form_label(form.code, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.code, {"attr": {'class' : "form-control"}}) }}
            </div>
            <div class="col-sm-11">
                {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.code}) }}
            </div>
        </div>
        <div class="form-group">
            {{ form_label(form.name, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.name, {"attr": {'class' : "form-control"}}) }}
            </div>
            <div class="col-sm-11">
                {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.name}) }}
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-4 control-label">Zone active?</label>
            <div class="col-sm-8">
                {{ form_widget(form.active, {"attr": {'class' : "form-control"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.active}) }}
        </div>
    </div>
</div>
