{% extends("AdminAppBundle:Base:index.html.twig") %}

{% block title %}
    Mise à jour utilisateur - {{ parent() }}
{% endblock %}


{% block mainContent %}
    <div class="container">


    <div class="col-md-12 main-content">
        {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Informations générales</a>
                </li>
                <li role="presentation">
                    <a href="#agency" aria-controls="profile" role="tab" data-toggle="tab">Agences</a>
                </li>
                <li role="presentation">
                    <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Groupes</a>
                </li>
                <li role="presentation">
                    <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Paramètres</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                    <h2 class="col-md-12">Modification utilisateur</h2>
                    <div class="col-md-12">
                        {{ parent() }}
                    </div>


                    {{ form_errors(form) }}

                    <div class="well well-block-info">
                        <div class="col-md-6">
                            {{ include('@AdminUserManager/Form/userType.html.twig') }}
                        </div>
                        <div class="col-md-6">
                            {{ include('@FrontApp/Form/contactType.html.twig') }}
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="agency">
                    <div class="col-md-12">
                        <label for="user_admin_edit_agencies">Agences :</label>
                        <select id="user_admin_edit_agencies">
                            {% for agency in agencies %}
                                <option value="{{ agency.id }}">{{ agency.code }} - {{ agency.name }}</option>
                            {% endfor %}
                        </select>
                        <a href="#" id="add_agency" class="btn btn-default">Ajouter une agence</a>
                        <img src="{{ asset('download/front/general/ajax/ajax-loader.gif') }}"
                                title="Veuillez patienter" class="ajax-loader hidden">
                    </div>

                    <input type="hidden" id="id_user" value="{{ user.id }}">
                    <table class="table table-striped table-bordered table-hover" id="userAgencyTable">
                        <thead>
                        <tr>
                            <th data-priority="2">Code</th>
                            <th data-priority="3">Nom</th>
                            <th data-priority="3">Fonction</th>
                            <th>Principale</th>
                            <th data-priority="1">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {# This is used to add the infos in the table with AJAX#}
                        <tr id="templateAgency" class="hidden">
                                <td class="hidden agency_id">__idAgency__</td>
                                <td class="agency_code">__code__</td>
                                <td class="agency_name">__name__</td>
                                <td>__function__</td>
                                <td class="text-center">__principale__</td>
                                <td class="text-center">
                                    <a href="#" data-value="__idUserAgency__" class="remove_agency">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {# This is the end of the template #}

                        {% for userAgency in user.userAgencies %}
                            <tr>
                                <td class="hidden agency_id">{{ userAgency.agency.id }}</td>
                                <td class="agency_code">{{ userAgency.agency.code }}</td>
                                <td class="agency_name">{{ userAgency.agency.name }}</td>
                                <td></td>
                                <td class="text-center">
                                {% if userAgency.principal %}
                                      <span class="glyphicon glyphicon-ok"></span>
                                {% endif %}
                                 </td>

                                <td class="text-center">
                                    <a href="#" data-value="{{ userAgency.id }}" class="remove_agency">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">Pannel groupe</div>
                <div role="tabpanel" class="tab-pane" id="messages">Pannel paramètres</div>
            </div>
        </div>


        {{ form_rest(form) }}
        <input type="submit" class="btn btn-default pull-right" value="Modifier"/>
    </div>
    {{ form_end(form) }}
{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("bundles/adminusermanager/js/adminUser.js") }}"></script>
        {% endblock %}