{% extends("AdminAppBundle:Base:index.html.twig") %}

{% block title %}
    Mise à jour utilisateur - {{ parent() }}
{% endblock %}


{% block mainContent %}
    <div class="container">


        <div class="col-md-12 main-content">
            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
            <div>

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Informations générales</a>
                    </li>
                    <li role="presentation">
                        <a href="#agency" aria-controls="profile" role="tab" data-toggle="tab">Agences</a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Groupes</a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Paramètres</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">
                        <h2 class="col-md-12">Modification utilisateur</h2>
                        <div class="col-md-12">
                            {{ parent() }}
                        </div>


                        {{ form_errors(form) }}

                        <div class="well well-block-info">
                            <div class="col-md-6">
                                {{ include('@AdminUserManager/Form/userType.html.twig') }}
                            </div>
                            <div class="col-md-6">
                                {{ include('@FrontApp/Form/contactType.html.twig') }}
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="agency">
                        {{ include("@AdminUserManager/User/updateAgencies.html.twig", {"agencies" : agencies, "user" : user}) }}
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">Pannel groupe</div>
                    <div role="tabpanel" class="tab-pane" id="messages">Pannel paramètres</div>
            </div>
        </div>


        {{ form_rest(form) }}
        <input type="submit" class="btn btn-default pull-right" value="Modifier"/>
    </div>
    {{ form_end(form) }}
{% endblock %}

        {% block javascripts %}
            {{ parent() }}
            <script src="{{ asset("bundles/adminusermanager/js/adminUser.js") }}"></script>
        {% endblock %}