<ul class="nav navbar-nav">
    {% for menu in menus %}
        {% if menu.children is not defined %}
            <li class="{{ menu.active }}">
                <a href="{{ path(menu.route) }}">{{ menu.name }}</a>
            </li>
        {% else %}
            <li class="dropdown {{ menu.active }}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">{{ menu.name }} <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    {% for childrenElement in menu.children %}
                        <li><a href="{{ path(childrenElement.route) }}">{{ childrenElement.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        {% endif %}
    {% endfor %}
</ul>
