{# @var form \Front\DomainBundle\Entity\News #}
<div class="well well-block-info">
    <div class="col-md-6 col-sm-12 ">
        <h4>Informations générales</h4>
        <div class="form-group">
            {{ form_label(form.title, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.title, {"attr": {'class' : "form-control"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.title}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.beginPublicationDate, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.beginPublicationDate, {"attr": {'class' : "datepicker"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.beginPublicationDate}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.endPublicationDate, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.endPublicationDate, {"attr": {'class' : "datepicker"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.endPublicationDate}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.domain, null, {'label_attr' : {"class" : "col-sm-4 control-label"}} ) }}
            <div class="col-sm-8">
                {{ form_widget(form.domain, {"attr": {'class' : "form-control"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.domain}) }}
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <h4>{{ form_label(form.imageFile, null, {"label_attr" : {"class": "col-sm-6 control-label"}} ) }}</h4>
        <div class="row form-group">
            <div class="col-sm-8">
                {{ form_widget(form.imageFile, {"attr": {"class" : ""}} ) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.imageFile}) }}
        </div>
    </div>
    <div class="col-md-12">
        <h4>{{ form_label(form.text) }}</h4>
        <div class="form-group">

            <div class="col-sm-12">
                {{ form_widget(form.text, {"attr": {'class' : "form-control"}}) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.text}) }}
        </div>
    </div>

    <div class="col-md-12 margin-top-15">
        <h4 class="col-md-9 row">{{ form_label(form.files) }}</h4>
        <a href="#" id="add_files" class="btn btn-primary col-md-3">Ajouter un fichier</a>
        <div class="form-group">
            <div class="col-sm-12">
                {{ form_widget(form.files) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.files}) }}
        </div>
    </div>

    <div class="col-md-12 margin-top-15">
        <h4 class="col-md-9 row">{{ form_label(form.externalVideo) }}</h4>
        <a href="#" id="add_externalVideo" class="btn btn-primary col-md-3">Ajouter une video Youtube</a>
        <div class="form-group">
            <div class="col-sm-12">
                {{ form_widget(form.externalVideo) }}
            </div>
            {{ include ('@FrontApp/Form/errorForm.html.twig', {'formValue' : form.externalVideo}) }}
        </div>
    </div>
</div>

{{ form_rest(form) }}
