{% extends "@FrontDomain/App/base.html.twig" %}
{% form_theme form _self %}
{% block _news_files_entry_row %}
    {% include "@FrontDomain/Form/document.html.twig" %}
{% endblock %}

{% block _news_externalVideo_entry_row %}
    {% include "@FrontDomain/Form/externalVideo.html.twig" %}
{% endblock %}

{% block content %}

    {{ form_start(form, { 'action': path('domain_manager_add_news'), 'attr': { 'class': 'domain_manager_add_news' } }) }}
            <a href="{{ path('domain_manager_news') }}" class="btn btn-default">
                <i class="glyphicon glyphicon-chevron-left"></i>
                Retour aux news
            </a>

            <h2 class="col-md-12">Créer une news</h2>
            {% include ("@FrontDomain/Form/newsType.html.twig") %}
            <input type="submit" class="btn btn-default pull-right" value="Ajouter"/>
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script
            src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    {# Voici le script en question : #}
    <script type="text/javascript">
        $(document).ready(function() {
            var datepicker = $(".datepicker");
            datepicker.datepicker({
                dateFormat : "dd-mm-yy",
                firstDay : 1,
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.'
            });
            datepicker.keypress(function(event) {
                if (event.which != 8) {
                    event.preventDefault();
                }
            });

            // On récupère la balise <div> en question qui contient l'attribut « data-prototype » qui nous intéresse.
            var $containerExternalVideo = $('div#news_externalVideo');
            var $containerFiles = $('div#news_files');

            // On définit un compteur unique pour nommer les champs qu'on va ajouter dynamiquement
            var indexExternalVideo = $containerExternalVideo.find(':input').length;
            var indexFiles = $containerFiles.find(':input').length;

            // On ajoute un nouveau champ à chaque clic sur le lien d'ajout.
            $('#add_externalVideo').click(function(e) {
                addExternalVideo($containerExternalVideo);

                e.preventDefault(); // évite qu'un # apparaisse dans l'URL
                return false;
            });

            $('#add_files').on("click", function(e) {
                addFiles($containerFiles);
                e.preventDefault();
                return false;
            });

            if (indexExternalVideo != 0) {
                // S'il existe déjà des catégories, on ajoute un lien de suppression pour chacune d'entre elles
                $containerExternalVideo.children('div').each(function() {
                    //I have to do this because if I don't, if we create 1 then 2 links, save in database & edit it
                    //Remove the first link, save it. Then edit it again and create a new link, the indexExternalVideo will be "1" instead
                    //of 2, so he will erase the datas
                    var name = $(this).children('input:first').attr('name');
                    var nameindexExternalVideo = (name.split("]["))[1].replace(']','');
                    indexExternalVideo = ++nameindexExternalVideo;
                });
            }

            // La fonction qui ajoute un formulaire CategoryType
            function addExternalVideo($container) {
                // Dans le contenu de l'attribut « data-prototype », on remplace :
                // - le texte "__name__label__" qu'il contient par le label du champ
                // - le texte "__name__" qu'il contient par le numéro du champ
                var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, 'Lien')
                                .replace(/__name__/g,        indexExternalVideo);

                // On crée un objet jquery qui contient ce template
                var $prototype = $(template);

                $prototype.prepend("<div class='col-md-12 col-sm-12'>");
                $prototype.append("</div>");


                // On ajoute le prototype modifié à la fin de la balise <div>
                $container.append($prototype);

                // Enfin, on incrémente le compteur pour que le prochain ajout se fasse avec un autre numéro
                indexExternalVideo++;
            }

            function addFiles($container) {
                var template = $container.attr('data-prototype')
                                .replace(/__name__label__/g, 'Fichier')
                                .replace(/__name__/g,       indexFiles);

                var $prototype = $(template);


                $container.append($prototype);
                indexFiles++;
            }



        });

        // Ajout du listener sur le clic du lien pour effectivement supprimer la catégorie
        $(document.body).on("click", ".delete-btn", function(e) {
            $(this).closest(".form-group").closest(".form-group").remove();
            e.preventDefault(); // évite qu'un # apparaisse dans l'URL
            return false;
        });
    </script>
{% endblock %}