{% extends "FrontAppBundle::layout.html.twig" %}


{% block title %}
    News - {{ parent() }}
{% endblock %}

{% block leftMenu %}
    {# domains means Achat, E-busines, ...
    from is used to know if we have to redirect to "news" or "documents"
    domainsCount need to be deleted in a further evolution, it contains the number of news/document by domain #}
    {#{{ include("FrontAppBundle:Main:domainMenu.html.twig",
    {"domains" : domains,
        "from" : app.request.attributes.get('_route')}) }}
#}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="main-content single-new">
        {{ parent() }}
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="row">
                {% if news.imageName %}
                    <img class="new-image margin-top-20 margin-left-15"
                         src="{{ vich_uploader_asset(news, 'imageFile') }}" alt="News"/>
                {% endif %}
                <h2>{{ news.title }}</h2>
                <p class="text-justify margin-left-15 margin-right-15">
                    {{ news.text }}
                </p>
            </div>
            <div class="row">
                {% for externalVideo in news.externalVideo %}
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <iframe src="{{ externalVideo }}" allowfullscreen></iframe>
                    </div>
                {% endfor %}
            </div>
            {% if news.files|length > 0 %}
                <br/>
                <div class="row">
                    <h4 class="col-md-12">Pièce(s) jointe(s)</h4>
                    {% for file in news.files %}
                        {# @var file \Front\DomainBundle\Entity\NewsFile #}
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <a href="{{ vich_uploader_asset(file, 'file') }}" target="_blank">{{ file.title }}</a>
                        </div>
                    {% endfor %}
                </div>
                <br/>
            {% endif %}
            <p>
                <span>{{ news.creator.firstname|slice(0,1) }}. {{ news.creator.surname }}</span>
                <span>{{ news.creationDate | date('d/m/Y') }}</span>
            </p>
        </div>


        <a class="btn btn-primary col-md-offset-9 col-sm-offset-8 col-xs-offset-6 col-md-3 col-sm-4 col-xs-6"
           href="{{ path("domain_manager_news_list_view") }}">Retour</a>
        <div class="clearfix"></div>
    </div>
{% endblock %}
