{% extends "FrontAppBundle::layout.html.twig" %}


{% block title %}
    News - {{ parent() }}
{% endblock %}

{% block leftMenu %}
    {# domains means Achat, E-busines, ...
    from is used to know if we have to redirect to "news" or "documents" #}
    {{ include("FrontAppBundle:Main:domainMenu.html.twig",
    {"domains" : domains,
        "from" : app.request.attributes.get('_route')}) }}

    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="main-content">
        {% for new in news %}
            <div class="single-new">
                    <img class="new-image" src="{{ new.image.url }}" alt="{{ new.image.alt }}"/>
                    <label>{{ new.domain.label }}</label>
                    <h3>{{ new.title }}</h3>
                    <p class="text-justify">{{ new.text|length > 300 ? new.text|slice(0, 300) ~ '...' : new.text  }}</p>
                    <p class="text-center">
                        <span>{{ new.creator.firstname|slice(0,1) }}. {{ new.creator.surname }}</span>
                        <span >{{ new.creationDate | date('d/m/Y') }}</span>
                        <span><a href="{{ path("news_view", {id : new.id} ) }}">Lire la suite</a></span>
                    </p>
            </div>
            {% if not loop.last %}
                <hr/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}