<div class="list-group small">
    <a href="{{ path(from) }}" class="list-group-item col-xs-4 col-sm-12
         {% if app.request.attributes.get('_route_params')['domain'] == "all" %}active{% endif %}">
        <span class="list-group-item-heading">Tous les domaines</span>
    </a>
    {% for key, domain in domains %}
        {% if app.request.attributes.get('_route_params')['domain'] == key %}
            {% set isActive = "active" %}
        {% else %}
            {% set isActive = "" %}
        {% endif %}

        {# If I don't add this, when we're on the first page (/) and we click on a specific domain, the adress isn't correct #}
        {% if from == "front_homepage" %}
            {% set from = "news_index" %}
        {% endif %}

        <a href="{{ path(from, {"domain" : key}) }}"
           class="list-group-item col-xs-4 col-sm-12 {{ isActive }}">
            <span class="badge">{% if domainsCount[key] is defined %}{{  domainsCount[key] }} {% endif %}</span>
            {{ domain }}
        </a>
    {% endfor %}
</div>