<div class="list-group small">
    <a href="{{ path(from) }}" class="list-group-item col-xs-6 col-sm-12
         {% if app.request.attributes.get('_route_params')['domain'] == "all" %}active{% endif %}">
        <span class="list-group-item-heading">Tous les domaines</span>
    </a>
    {% for domain in domains %}
        {# @var domain \Front\AppBundle\Entity\Domain #}

        {% if app.request.attributes.get('_route_params')['domain'] == domain.labelSimplified %}
            {% set isActive = "active" %}
        {% else %}
            {% set isActive = "" %}
        {% endif %}

        {# If I don't add this, when we're on the first page (/) and we click on a specific domain, the adress isn't correct #}
        {% if from == "front_homepage" %}
            {% set from = "news_index" %}
        {% endif %}

        <a href="{{ path(from, {"domain" : domain.labelSimplified}) }}"
           class="list-group-item col-xs-6 col-sm-12 {{ isActive }}">
            {% if "news" in from %}
                <span class="badge">{% if domain.recentNews|length > 0 %}{{ domain.recentNews|length }} {% endif %}</span>
            {% elseif "document" in from %}
                <span class="badge">{% if domain.recentDocuments|length > 0 %}{{ domain.recentDocuments|length }} {% endif %}</span>
            {% endif %}
            {{ domain.label }}
        </a>
    {% endfor %}
</div>