{% extends("::base.html.twig") %}


    {% block stylesheets %}
        {{ parent() }}
        <link type="text/css" rel="stylesheet" href="{{ asset('bundles/frontapp/css/connection.css') }}">
    {% endblock %}

                {% block menus %}
                    <ul class="nav navbar-nav">
                        <li class="{% if app.request.attributes.get('_route') == 'news_index' or
                        app.request.attributes.get('_route') == 'front_homepage' or
                        app.request.attributes.get('_route') == 'news_view' %}active{% endif %}">
                            <a href="{{ path("news_index", {"domain" : "all"}) }}">News</a>
                        </li>
                        <li class="{% if app.request.attributes.get('_route') == 'documents_index' %}active{% endif %}">
                            <a href="{{ path("documents_index") }}">Documents références</a>
                        </li>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li class="{% if app.request.attributes.get('_route') == 'application_index' %}active{% endif %}">
                                <a href="{{ path("application_index") }}">Applications</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="http://192.168.41.102/dokuwiki/doku.php">Aide</a>
                        </li>
                        {% if not is_granted("IS_AUTHENTICATED_REMEMBERED") and
                                    app.request.attributes.get('_route') != 'fos_user_security_login'%}
                            {# This is only visible for the mobile/table size #}
                            <li class="hidden visible-xs">
                                <a href="#" data-toggle="modal" data-target="#login-modal">Se connecter</a>
                            </li>
                        {% endif %}
                    </ul>
                {% endblock %}
                {% block menusRight %}
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ parent() }}
                    {% elseif app.request.attributes.get('_route') != 'fos_user_security_login' %}
                        <ul class="nav navbar-nav navbar-right hidden-xs">
                            <li><a href="#" data-toggle="modal" data-target="#login-modal">Se connecter</a></li>
                        </ul>
                    {% endif %}
                {% endblock %}

{% block mainContent %}
    {# The left menu is only displayed for news and application, when he's not here, for the small browsers (exemple: phone),
            need to display the content in full screen #}
    {# The main content need to be displayed in full screen when there's no left/right bars #}
    {% if app.request.attributes.get('_route') == 'news_index' or
            app.request.attributes.get('_route') == 'documents_index'  %}
        {% set sizeLeftBar = "col-sm-4" %}
        {% set sizeContent ="col-sm-8 col-xs-12" %}
    {% else %}
        {% set sizeLeftBar = "hidden-xs hidden-sm" %}
        {% set sizeContent = "col-sm-12 col-xs-12 col-md-8" %}
    {% endif %}

    <div class="container">
        <div class="row">

            <div class="col-md-2 side-bar {{ sizeLeftBar }} left-menu">
                {% block leftMenu %}
                    <div class="hidden-xs hidden-sm">{{ render (controller("FrontAppBundle:Main:sideMenu", { 'position' : 'left'})) }}</div>
                {% endblock %}
            </div>

            {# The content of the page is in this div #}
            <div class="{{ sizeContent }}">
                {% block content %} {% endblock %}
            </div>

            <div class="col-md-2 side-bar hidden-xs hidden-sm">
                {{ render (controller("FrontAppBundle:Main:sideMenu", { 'position' : 'right'})) }}
            </div>
        </div>
    </div>
    {# Display the login pannel when it's called by clicking the button "Connection", no need to display it in the /login page#}
    {% if app.request.attributes.get('_route') != 'fos_user_security_login' %}
        <div class="modal fade hidden-not-important" id="login-modal" tabindex="-1" role="dialog"
             aria-hidden="true">
            {{ render(controller("FOSUserBundle:Security:login", {'isLongTemplate': false })) }}
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalit?s du bootstrap Twitter #}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/frontapp/js/front.js') }}"></script>
{% endblock %}