{% extends "@FrontDomain/App/base.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/jquery.dataTable1.10.12.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/bootstrap.dataTable1.10.12.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/responsive.dataTables2.1.0.min.js") }}"></script>
    <script type="text/javascript" src="{{ asset("bundles/frontapp/js/responsive.bootstrap.datatables2.1.0.min.js") }}"></script>
{% endblock %}

{% block content %}
    <h2 class="col-md-7 text-nowrap">Liste des news</h2>
    <a class="col-md-3 btn btn-default pull-right" href="{{ path("domain_manager_add_news") }}">
        Créer une news
    </a>
    <table class="table table-striped table-bordered table-hover dataTable">
        <thead>
        <tr>
            <th data-priority="2">Titre</th>
            <th data-priority="5">Domaine</th>
            <th data-priority="4">Auteur</th>
            <th data-priority="3">Début de parution</th>
            <th data-priority="3">Fin de parution</th>
            <th data-priority="1">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for new in news %}
            <tr>
                <td>{{ new.title }}</td>
                <td>{{ new.domain.label }}</td>
                <td>{{ new.creator.firstname|slice(0,1) }}. {{ new.creator.surname }}</td>
                <td>{{ new.beginPublicationDate | date('d/m/Y') }}</td>
                <td>{% if new.endPublicationDate %} {{ new.endPublicationDate | date('d/m/Y') }} {% endif %}</td>
                <td class="text-center">
                        <a href="{{ path('front_homepage', {'_switch_user': app.user.username }) }}"
                           title="Se connecter en tant que {{ app.user.username }}"><i
                                    class="glyphicon glyphicon-log-in"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
