{% extends("AdminAppBundle::layout.html.twig") %}

{% block title %}
    Liste groupes - {{ parent() }}
{% endblock %}


{% block content %}
    <div class="col-md-12 main-content">
        <h2 class="col-md-12">Liste des groupes</h2>
        <div class="col-md-12">
            {{ parent() }}
        </div>
        {% if is_granted('ROLE_ADMIN_GROUP_UPDATE') %}
            <a class="col-md-3 btn btn-default pull-right" href="{{ path("admin_group_manager_add") }}">Créer
                groupe</a>
        {% endif %}
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th data-priority="3">Nom</th>
                <th data-priority="6">Nombre d'utilisateurs</th>
                {% if is_granted('ROLE_ADMIN_GROUP_UPDATE') %}
                    <th data-priority="1">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                {# @var group \Front\AppBundle\Entity\Group #}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.users|length }}</td>
                    {% if is_granted('ROLE_ADMIN_GROUP_UPDATE') %}
                        <td class="text-center">
                            <a href="{{ path("admin_group_manager_update", { 'id': group.id }) }}"
                               title="Modifier"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}