{% extends("AdminAppBundle::layout.html.twig") %}

{% block title %}
    Liste zones - {{ parent() }}
{% endblock %}


{% block content %}
    <div class="col-md-12 main-content">
        <h2 class="col-md-12">Liste des zones</h2>
        <div class="col-md-12">
            {{ parent() }}
        </div>
        {% if canUpdate %}
            <a class="col-md-3 btn btn-default pull-right" href="{{ path("admin_zone_manager_add") }}">Créer
                une zone</a>
        {% endif %}
        <table class="table table-striped table-bordered table-hover dataTable">
            <thead>
            <tr>
                <th data-priority="2">Code</th>
                <th data-priority="3">Nom</th>
                <th data-priority="6">Nombre de régions</th>
                <th data-priority="4">Active?</th>
                {% if canUpdate %}
                    <th data-priority="1">Actions</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for zone in zones %}
                {# @var zone \Front\AppBundle\Entity\Zone#}
                <tr>
                    <td>{{ zone.code }}</td>
                    <td>{{ zone.name }}</td>
                    <td>{{ zone.regions.count }}</td>
                    <td class="text-center">
                        {% if zone.active %}
                            <span class="glyphicon glyphicon-ok icon-success"></span>
                        {% else %}
                            <span class="glyphicon glyphicon-remove icon-danger"></span>
                        {% endif %}
                    </td>
                    {% if canUpdate %}
                        <td class="text-center">
                            <a href="{{ path("admin_zone_manager_update", { 'id': zone.id }) }}"
                               title="Modifier"><i
                                        class="glyphicon glyphicon-cog"></i></a>
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}