{% extends "FrontAppBundle::layout.html.twig" %}

{% block title %}
    Applications - {{ parent() }}
{% endblock %}

{% block content %}
    <div class="main-content">
        <div class="row">
            {% for key, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="margin-left-15 margin-right-15 alert alert-{{ key }} margin-top-15">
                        {{ message|trans({}, 'FOSUserBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}

            <div class="col-lg-12">
                <h3 class="page-header">Voici l'ensemble des applications auxquelles vous avez accès :</h3>
            </div>

            {% for application in applications %}
                <div class="col-lg-2 col-md-4 col-sm-4 col-xs-6 thumb">
                    {% if application.isExternal %}
                        <a class="thumbnail application"
                            href="{{ path(application.location, {'applicationId': application.id }) }}">
                    {% else %}
                        <a class="thumbnail application" href="{{ path(application.location) }}">
                    {% endif %}
                            <div class="application-img-frame">
                                <img class="img-responsive"
                                     src="{{ asset(application.image.webPath) }}" alt="{{ application.image.alt }}">
                            </div>
                            <h4>
                                {{ application.name }}
                            </h4>

                    {% if application.isExternal %}
                        </a>
                    {% else %}
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}