{% extends "FrontBundle::layout.html.twig" %}


{% block title %}
    News -
    {% if app.request.getSchemeAndHttpHost() == "http://localhost" %}
        Vanina Local
    {% elseif app.request.getSchemeAndHttpHost() == "http://vanina" %}
        Vanina
    {% elseif app.request.getSchemeAndHttpHost() == "http://isidore" %}
        Isidore
    {% endif %}
{% endblock %}

{% block leftMenu %}
    <div class="list-group small">
        <a href="{{ path("front_news") }}" class="list-group-item
         {% if app.request.attributes.get('_route_params')['domain'] == "all" %}active{% endif %}">
            <h5 class="list-group-item-heading">Tous les domaines</h5>
        </a>
        {% for key, domain in domains %}
            <a href="{{ path("front_news", {"domain" : key}) }}"
               class="list-group-item {% if app.request.attributes.get('_route_params')['domain'] == key %}active{% endif %}">
                {{ domain }}
            </a>
        {% endfor %}
    </div>
{% endblock %}
{% block content %}
    <div class="main-content">
        {% for new in news %}
            <div class="single-new">
                    <img class="new-image" src="{{ new.image }}"/>
                    <label>{{ new.domain }}</label>
                    <h3>{{ new.title }}</h3>
                    <p>{{ new.text|length > 300 ? new.text|slice(0, 300) ~ '...' : new.text  }}</p>
                    <p>
                        <span>{{ new.author }}</span>
                        <span>{{ new.creationDate | date('d/m/Y') }}</span>
                        <span><a href="#">Lire la suite</a></span>
                    </p>
            </div>
            {% if not loop.last %}
                <hr/>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}